@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Brunoace";
    font-weight: normal;
    src: url(../fonts/BrunoAce-Regular.ttf);
}
html
{
    scroll-behavior: smooth;
}
.mobmenu.active
{
    top: 0;
}
.popup.active
{
    backdrop-filter: blur(12px);
    display: flex;
}
.eventname
{
    position: relative;
}
.eventname::after
{
    content: ' ';
    width: 228px;
    height: 3.5px;
    background: #FFD37D;
    position: absolute;
    top: -13px;
    left: 0;
    border-radius: 20px;
}
.ideapitching
{
    background: #77C6B3 
}
.projectpresentation
{
    background: #FFAFAF;
}
.hackathon
{
    background: #70A2E1;
}
.psidtxt
{
    font-size: 21px !important;
}
.body.active
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}