{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartathon'24 | Hackathon</title>
    <link rel="stylesheet" href="{% static 'css/globalstyles.css' %}">
    {% tailwind_css %}
</head>
<body class="bg-[#FFFCEA] max-w-[1440px] overflow-x-hidden">
            <nav class="flex justify-between font-montserrat absolute top-0 left-0 w-screen p-6 lg:p-12">
                <div class="flex gap-2">
                    <img src="{% static 'images/SRC.png' %}" alt="logo" class="w-8 h-8">
                    <p class="font-bold font-montserrat text-lg">Student Research Council</p>
                </div>
                <div class="gap-12 items-center hidden md:flex">
                    <a href="/home" class="font-montserrat text-gray-600 hover:text-black transition-all">Home</a>
                    <a href="/Events" class="font-montserrat text-gray-600 hover:text-black transition-all">Events</a>
                    <a href="/About" class="font-montserrat text-gray-600 hover:text-black transition-all">About</a>
                </div>


                <!-- Mobile Navigation -->
                <div class="flex flex-col gap-1 cursor-pointer md:hidden togglebtn">
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                </div>

                <div class="absolute top-[-360px] left-0 w-full backdrop-blur-md bg-white h-[350px] p-12 flex flex-col justify-evenly mobmenu transition-all duration-300">
                    <a href="/home" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">Home</a>
                    <a href="/Events" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">Events</a>
                    <a href="/About" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">About</a>
                    
                    <div class="flex flex-col justify-center items-center gap-1 cursor-pointer md:hidden z-50 absolute right-12 top-12 closebtn">
                        <div class="w-8 h-[2px] bg-gray-400 rounded-md absolute rotate-45"></div>
                        <div class="w-8 h-[2px] bg-gray-400 rounded-md absolute rotate-[-45deg]"></div>
                    </div>
                </div>


            </nav>
        <!-- MAIN -->
        <section class="flex justify-center lg:justify-between relative h-[100vh] items-center flex-wrap w-screen p-6 lg:p-12 gap-6 lg:gap-12">
            <div class="mt-20 lg:max-w-[50%]">
                <p class="font-montserrat tracking-[6px]">Smartathon'24</p>
                <p class="text-5xl lg:text-6xl font-brunoace">Hackathon</p>
                <p class="text-sm lg:text-xl tracking-[12px] font-montserrat">26th, October, 2024</p>

                <p class="font-montserrat mt-4 ">
                    Immerse yourself in a 7+ hour software Hackathon where innovation meets competition. Collaborate with like-minded peers, tackle real-world challenges, and develop cutting-edge solutions.
                </p>
                <button class="bg-[#FFC657] w-full lg:w-auto  py-3 px-8 rounded-md text-sm font-montserrat mt-4 font-medium hover:bg-[#e4b046] transition-colors">
                    View Problem Statements
                </button>
                <button class="border w-full lg:w-auto  py-3 px-8 rounded-md text-sm font-montserrat mt-4 font-medium hover:bg-[#e4b046] transition-colors">
                    Download template
                </button>
            </div>

            <div class="flex items-center max-w-[100%] justify-center">
                <img src="{% static 'images/jumbotron.svg' %}" class="max-w-[70%] lg:max-w-[100%]">
            </div>
            
            <img src="{% static 'images/plus.svg' %}" class="absolute left-0 bottom-[-50px] w-[30%] -z-10  lg:w-[13.5%]">
        </section>

        <!-- Process Flow -->
        <section class="w-full p-6 lg:p-12 relative">
            <p class="font-montserrat font-bold text-4xl text-center">PROCESS FLOW</p>
            
            <div class="flex justify-center gap-4 lg:mt-12 mt-6 flex-wrap">
                <div class="flex flex-col gap-6 max-w-[300px] justify-evenly items-center p-4 border-2 border-dashed border-gray-400 rounded-md">
                    <div>
                        <img src="{% static 'images/1p.svg' %}" alt="">
                    </div>
                    <div>
                        <p class="font-montserrat text-xl text-center">
                            Browse and choose a problem statement from the forum to begin your preparation.
                        </p>
                    </div>
                    <button class="w-full bg-[#FFC657] hover:bg-[#e4b046] duration-300 transition-colors p-2 rounded-md font-montserrat font-medium text-center">
                        <p class="opacity-85 text-center">View Problem Statements</p>
                    </button>
                </div>

                <div class="flex flex-col gap-6 max-w-[300px] justify-evenly items-center p-4 border-2 border-dashed border-gray-400 rounded-md">
                    <div>
                        <img src="{% static 'images/2p.svg' %}" alt="">
                    </div>
                    <div>
                        <p class="font-montserrat text-xl text-center">
                            Register through the portal when the registration window opens for the preliminary round.
                        </p>
                    </div>
                    <button class="w-full bg-[#FFC657]  cursor-default p-2 rounded-md font-montserrat font-medium text-center">
                        <p class="opacity-85 text-center">Registration Open's Soon</p>
                    </button>
                </div>

                <div class="flex flex-col gap-6 max-w-[300px] justify-evenly items-center p-4 border-2 border-dashed border-gray-400 rounded-md">
                    <div>
                        <img src="{% static 'images/3p.svg' %}" alt="">
                    </div>
                    <div>
                        <p class="font-montserrat text-xl text-center">
                            Top 30 teams enter the 7hr long endurance hackathon in developing the software
                        </p>
                    </div>
                    <button class="w-full bg-[#FFC657] cursor-default p-2 rounded-md font-montserrat font-medium text-center">
                        <p class="opacity-85 text-center">On 26th, Oct, 2024</p>
                    </button>
                </div>
            </div>
        </section>

        <!-- Problem Statement -->
        <section class="w-full h-screen p-6 lg:p-12 relative flex items-center flex-col">
            <img src="{% static 'images/circularabstract.svg' %}" class="absolute top-0 right-0">
            <p class="font-montserrat font-bold text-4xl text-center">PROBLEM STATEMENTS</p>
            <input type="text" class="border outline-none rounded-3xl w-[500px] bg-transparent mt-6 font-montserrat pl-6 focus:border-none" placeholder="Search with Problem ID">
            <div class="w-full p-12 rounded-md z-10 shadow-sm bg-white mt-6 relative gap-4 flex flex-col">
                {% for statement in statements %}
                    <div class="w-full p-6 rounded-md font-montserrat border shadow-sm hover:shadow-md cursor-pointer">
                        <div>
                            <p class="font-medium underline text-sm">Problem Statement ID: {{statement.id}}</p>
                        </div>
                        <div class="mt-2">
                            <p>Problem Title: {{statement.title}}</p>
                        </div>
                        <div class="flex gap-2 mt-4 font-medium">
                            <p class="text-gray-800">Difficulty Level: {{statement.difficulty}}</p>
                            <span>|</span>
                            <p class="text-gray-800">Maximum registration: 20</p>
                        </div>
                        <div>
                            <p class="underline read-btn" data-psid="{{statement.id}}">Read More</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <!-- Problem Statement Overlay -->
         <section class="fixed left-0 top-0 backdrop-blur-md w-screen h-screen p-6 lg:p-12 z-50 popup hidden">
            <div class="bg-white h-full w-full rounded-md shadow-md p-12 font-montserrat relative">
                <p class="font-bold psidtxt">Problem Statement ID: </p>
                <p class="mt-4 pstitle" id="lk"><br> </p>
                <p class="mt-4 psdesc"><b>Description:</b><br> </p>
                <p class="mt-12 psdf">Difficulty Level: </p>
                <p>Maximum registration: 100</p>
                <div class="flex flex-col justify-center items-center gap-1 cursor-pointer absolute right-12 top-12 popupclose">
                    <div class="w-4 h-[2px] bg-gray-900 rounded-md absolute rotate-45"></div>
                    <div class="w-4 h-[2px] bg-gray-900 rounded-md absolute rotate-[-45deg]"></div>
                </div>
            </div>
         </section>
    <p class="statements hidden">{{rawps}}</p>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>