{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartathon'24 | Idea Pitching</title>
    <link rel="stylesheet" href="{% static 'css/globalstyles.css' %}">
    {% tailwind_css %}
</head>
<body class="bg-[#FFFCEA] max-w-[1440px] overflow-x-hidden ml-auto mr-auto relative">
            <nav class="flex justify-between font-montserrat absolute top-0 left-0 w-full p-6 lg:p-12 z-[100]">
                <a class="flex gap-2" href="/">
                    <img src="{% static 'images/mcetlogo.png' %}" alt="logo" class="max-w-[100px]">
                    <p class="font-bold font-montserrat text-xs lg:text-lg">Dr.Mahalingam College<br> of Engineering and Technology</p>
                </a>
                <!-- <div class="flex gap-2">
                    <img src="{% static 'images/SRC.png' %}" alt="logo" class="w-8 h-8">
                    <p class="font-bold font-montserrat text-lg">Student Research Council</p>
                </div> -->
                <div class="gap-12 items-center hidden md:flex">
                    <a href="/" class="font-montserrat text-gray-600 font-medium hover:text-black transition-all hover:underline">Home</a>
                    <a href="/#events" class="font-montserrat text-gray-600 font-medium hover:text-black transition-all hover:underline">Events</a>
                    <a href="/#about" class="font-montserrat text-gray-600 font-medium hover:text-black transition-all hover:underline">About</a>
                </div>


                <!-- Mobile Navigation -->
                <div class="flex flex-col gap-1 cursor-pointer md:hidden togglebtn w-4 h-4">
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                </div>

                <div class="absolute top-[-360px] left-0 w-full backdrop-blur-md bg-white h-[350px] p-12 flex flex-col justify-evenly mobmenu transition-all duration-300">
                    <a href="/" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">Home</a>
                    <a href="/#events" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">Events</a>
                    <a href="/#about" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">About</a>
                    
                    <div class="flex flex-col justify-center items-center gap-1 cursor-pointer md:hidden z-50 absolute right-12 top-12 closebtn w-4 h-4">
                        <div class="w-8 h-[2px] bg-gray-400 rounded-md absolute rotate-45"></div>
                        <div class="w-8 h-[2px] bg-gray-400 rounded-md absolute rotate-[-45deg]"></div>
                    </div>
                </div>


            </nav>
        <!-- MAIN -->
        <section class="flex justify-center lg:justify-between relative  items-center flex-wrap w-full   p-6 lg:p-12 gap-6 lg:gap-12">
            <div class="mt-20 lg:max-w-[50%]">
                <p class="font-montserrat tracking-[6px]">Smartathon'24</p>
                <p class="text-5xl lg:text-6xl font-brunoace">Idea Pitching</p>
                <p class="text-sm lg:text-xl tracking-[12px] font-montserrat">26th, October, 2024</p>

                <p class="font-montserrat mt-4 ">
                    Immerse yourself in a 7+ hour software Hackathon where innovation meets competition. Collaborate with like-minded peers, tackle real-world challenges, and develop cutting-edge solutions.
                </p>
                <p class="font-montserrat mt-4 font-semibold">{{event.venue}} | {{event.time}} | {% if not event.isClosed %} Registrations open {%else%} Registrations Closed {% endif %}</p>
                <div class="flex w-full flex-wrap gap-3 mt-3">
                <a href="#register" class="w-full">
                    <button class="bg-[#77C6B3] hover:bg-[#5ca191] min-w-full py-3 px-8 rounded-md text-sm font-montserrat font-medium transition-colors flex gap-2 justify-center items-center">
                        <img src="{% static 'images/view.svg' %}" class="invert">
                        Register
                    </button>
                </a>
                <a href="/ideapitchingtemplate" class="w-full">
                    <button class="border-[1.5px] border-[#77C6B3] min-w-full py-3 px-8 rounded-md text-sm font-montserrat font-medium hover:bg-[#77C6B3] transition-colors flex gap-2 justify-center items-center">
                        <img src="{% static 'images/download.svg' %}" class="invert">
                        Download presentation template
                    </button>
                </a>
                </div>
            </div>

            <div class="flex items-center max-w-[100%] justify-center lg:mt-32">
                <img src="{% static 'images/idept.png' %}" class="max-w-[70%]">
            </div>
            
            <!-- <img src="{% static 'images/hackjb.svg' %}" class="absolute right-0 top-0 -z-10 max-w-[70%] lg:max-w-[100%] lg:block hidden "> -->
        </section>

        <!-- Register -->
         <section class="w-full p-6 lg:p-12 flex flex-col"  id="register">
            <p class="text-3xl underline font-bold font-montserrat">Register</p>
            {% for message in messages %}
            <p class="font-xl text-red-600 font-montserrat font-medium">{{message}}</p>
            {% endfor %}
            <div class="flex gap-4 mt-4 flex-wrap lg:flex-nowrap">
                {% if not event.isClosed %}
                <form class="lg:w-[50%] border border-black rounded-md p-6 max-h-[450px] overflow-y-scroll gis" method="POST">
                    {% csrf_token %}
                    <label for="teamname" class="font-montserrat text-sm">Team Name*</label>
                    <input type="text" class="outline-none w-full bg-transparent border border-black rounded-md" id="teamname" name="teamname">

                    <label for="m1n" class="font-montserrat text-sm mt-4">Member 1 Name*</label>
                    <input type="text" class="outline-none w-full bg-transparent border border-black rounded-md" required id="m1n" name="m1n">

                    <label for="mlr" class="font-montserrat text-sm mt-4">Member 1 Roll No (eg: 727623bad100)*</label>
                    <input type="text" class="outline-none w-full bg-transparent border border-black rounded-md" required id="m1r" name="m1r">

                    <label for="m2n" class="font-montserrat text-sm mt-4">Member 2 Name*</label>
                    <input type="text" class="outline-none w-full bg-transparent border border-black rounded-md" required id="m2n" name="m2n">

                    <label for="m2r" class="font-montserrat text-sm mt-4">Member 2 Roll No (eg: 727623bad100)*</label>
                    <input type="text" class="outline-none w-full bg-transparent border border-black rounded-md" required id="m2r" name="m2r">

                    <label for="m2n" class="font-montserrat text-sm mt-4">Member 3 Name</label>
                    <input type="text" class="outline-none w-full bg-transparent border border-black rounded-md" id="m3n" name="m3n">

                    <label for="m2r" class="font-montserrat text-sm mt-4">Member 3 Roll No (eg: 727623bad100)</label>
                    <input type="text" class="outline-none w-full bg-transparent border border-black rounded-md" id="m2r" name="m3r">
                    
                    <label for="m2r" class="font-montserrat text-sm mt-4">Contact No</label>
                    <input type="number" class="outline-none w-full bg-transparent border border-black rounded-md" id="m2r" required name="contact">

                    <button type="submit" class="bg-[#77C6B3] hover:bg-[#5ca191] min-w-full py-3 px-8 rounded-md text-sm font-montserrat font-medium transition-colors flex gap-2 justify-center items-center mt-4">
                        Submit
                        <img src="{% static 'images/rightarrow.svg' %}" >
                    </button>
                </form>
                {% else %}
                <div class="lg:w-[50%] border border-black rounded-md p-6 max-h-[450px] overflow-y-scroll gis">
                    <div class="flex justify-center flex-col items-center">
                        <img src="{% static 'images/closed.svg' %}" class="w-[250px]">
                        <p class="text-2xl font-bold font-montserrat">Registration Closed</p>
                        <p class="font-montserrat font-light text-sm mt-3 text-center text-black">Registration for this event has been closed, although you can checkout other events.</p>
        
                    </div>
                </div>
                {% endif %}
                <div class="lg:w-[50%] border border-black rounded-md px-9 py-6 overflow-y-scroll max-h-[450px] gis">
                    <p class="text-xl font-montserrat font-bold">General Instructions</p>

                    <ul class="font-montserrat text-gray-700 mt-2">
                        <li class="list-disc mt-4">Participants can form teams consisting of 3 members.</li>
                        <li class="list-disc mt-4">Teams will be evaluated based on the originality of their work, as well as feasibility and scalability factors.</li>
                        <li class="list-disc mt-4">Each team must be registered throught the portal before registration closes.</li>
                        <li class="list-disc mt-4">Pitch Format: Present your idea in a concise format, detailing the problem, solution, and impact.</li>
                        <li class="list-disc mt-4">Evaluation Criteria: Participants will be judged on originality, feasibility, clarity of presentation, and potential impact of their solutions.</li>
                       </ul>
                </div>
            </div>
         </section>

        <!-- About -->
         <section class="flex justify-center lg:justify-between relative  items-center flex-wrap w-full p-6 lg:p-12 gap-6 lg:gap-12">
            <div class="flex flex-col gap-6">
                
                <div class="bg-[#FFF9D8] p-6 shadow-sm gap-6 items-center justify-center rounded-md flex lg:flex-nowrap flex-wrap">

                    <div class="lg:w-[50%]">
                        <img src="{% static 'images/hab.svg' %}" alt="" class="min-w-[200px]">
                    </div>

                    <div class="flex flex-col gap-2">
                        <p class="text-2xl font-bold font-montserrat">Overview</p>
                        <p class="font-montserrat text-gray-600">
                            Join us for the Idea Pitching Challenge, where creativity meets problem-solving! This event invites participants to present innovative solutions to real-world problems, showcasing their ideas to a panel of judges.
                            This is your moment to turn innovative concepts into impactful solutions. Whether you're solving real-world challenges or thinking of transformative ideas, now is the time to collaborate and shine! Teams will brainstorm and present their ideas using a structured template designed to highlight originality, strategy, and potential impact. Top teams will be recognized for their ability to think critically, work together, and pitch a compelling solution! Ready to pitch the next big idea? Gather your team of three and join us for an engaging experience where innovation knows no bounds!

                        </p>

                        <div class="flex w-full flex-wrap lg:flex-nowrap gap-3 mt-3">
                            <a href="#register" class="w-full">
                                <button class="bg-[#77C6B3] hover:bg-[#5ca191] min-w-full py-3 px-8 rounded-md text-sm font-montserrat font-medium transition-colors flex gap-2 justify-center items-center">
                                    <img src="{% static 'images/view.svg' %}" class="invert">
                                    Register
                                </button>
                            </a>
                            <a href="/ideapitchingtemplate" class="w-full">
                                <button class="border-[1.5px] border-[#77C6B3] min-w-full py-3 px-8 rounded-md text-sm font-montserrat font-medium hover:bg-[#77C6B3] transition-colors flex gap-2 justify-center items-center">
                                    <img src="{% static 'images/download.svg' %}" class="invert">
                                    Download presentation template
                                </button>
                            </a>
                            </div>
                        
                    </div>
                </div>  

                <div class="bg-[#FFF9D8] p-6 shadow-sm gap-6 items-center justify-center rounded-md flex lg:flex-nowrap flex-wrap">
                    <div class="lg:w-[50%]">
                        <img src="{% static 'images/prize.svg' %}" alt="" class="min-w-[200px]">
                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-2xl font-bold font-montserrat">Winning Exciting Cash Prizes</p>
                        <p class="font-montserrat text-gray-600">
                            Compete in our thrilling hackathon and stand a chance to win exciting cash prizes! Show off your coding skills, solve real-world problems, and take home rewards that recognize your hard work and creativity. Don’t miss the opportunity to prove your talent and claim your prize!
                        </p>
                        <p class="font-montserrat font-semibold">1st Prize - ₹3000 | 2nd Prize - ₹2500 | 3rd Prize - ₹2000</p>
                    </div>
                </div>  
            </div>
         </section>
        <!-- Footer -->
        <section class="w-full bg-[#FDF9DF] p-6 lg:p-12">
            <div class="flex flex-col justify-center items-center mt-12">
                <div class="flex items-center justify-center flex-col">
                    <p class="">Organizing commitee</p>
                    <img src="{% static 'images/srclogo.svg' %}" class="w-[200px] h-[200px] mt-6">
                    <p class="font-semibold text-xl">Student Research Council</p>
                    <p class="font-light tracking-widest">To Research, To Innovate</p>
                </div>
                <div class="flex gap-4 mt-6 flex-wrap lg:flex-nowrap justify-center">
                    <a href="https://www.linkedin.com/in/student-research-council-drmcet-3a4b42323/" class="flex gap-2">
                        <img src="{% static 'images/linkedin.svg' %}" class="w-[20px] opacity-60">
                        LinkedIn
                    </a>
                    <a href="mail:srcofficials@drmcet.ac.in" class="flex">
                        <img src="{% static 'images/mail.svg' %}" class="w-[20px]">
                        srcofficials@drmcet.ac.in
                    </a>
                    <a href="https://www.instagram.com/src.offl?igsh=ZThwa3VrbHlxbWFl" class="flex" target="_blank">
                        <img src="{% static 'images/instagram.svg' %}" class="w-[20px]">
                        src.offl
                    </a>
                    <a href="" class="flex">
                        <img src="{% static 'images/location.svg' %}" class="w-[20px]">
                        116 A-Block, MCET
                    </a>
                    <a href="https://chat.whatsapp.com/CEOFPw1h0w5EK4ELWGbANd" class="flex gap-2">
                        <img src="{% static 'images/whatsapp.svg' %}" class="w-[20px] opacity-60">
                        Join our community
                    </a>
                </div>
            </div>
        </section>
        
        <script>    
            const togglebtn = document.querySelector('.togglebtn')
            const closebtn = document.querySelector('.closebtn')
            const mobmenu = document.querySelector('.mobmenu')
            togglebtn.addEventListener('click', ()=>{
                mobmenu.classList.toggle('active')
            })
            closebtn.addEventListener('click', ()=>{
                mobmenu.classList.toggle('active')
            })
    </script>
</body>
</html>