{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartathon'24 | Student Research Council</title>
    <link rel="stylesheet" href="{% static 'css/globalstyles.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favi.ico' %}" type="image/x-icon">
    {% tailwind_css %}
</head> 
<body class="bg-[#FFFCEA] max-w-[1440px] overflow-x-hidden">
            <nav class="flex justify-between font-montserrat absolute top-0 left-0 w-screen p-6  z-[100]">
                <div class="flex gap-2">
                    <img src="{% static 'images/mcetlogo.png' %}" alt="logo" class="w-10 h-10">
                    <p class="font-bold font-montserrat text-xs lg:text-lg">Dr.Mahalingam College<br> of Engineering and Technology</p>
                </div>
                <!-- <div class="flex items-center gap-2">
                    <img src="{% static 'images/srclogo.svg' %}" alt="logo" class="">
                    <p class="font-semibold font-montserrat text-lg">Student Research Council</p>
                    
                </div> -->
                <div class="gap-12 items-center hidden md:flex">
                    <a href="/" class="font-montserrat text-gray-700 hover:text-black transition-all">Home</a>
                    <a href="#events" class="font-montserrat text-gray-700 hover:text-black transition-all">Events</a>
                    <a href="#about" class="font-montserrat text-gray-700 hover:text-black transition-all">About</a>
                </div>


                <!-- Mobile Navigation -->
                <div class="flex flex-col gap-1 cursor-pointer md:hidden togglebtn w-8 h-8 mt-4">
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                    <div class="w-8 h-[2px]  bg-gray-500 rounded-md"></div>
                </div>

                <div class="absolute top-[-360px] left-0 w-full backdrop-blur-md bg-white h-[350px] p-12 flex flex-col justify-evenly mobmenu transition-all duration-300">
                    <a href="/home" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">Home</a>
                    <a href="#events" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">Events</a>
                    <a href="#about" class="font-montserrat font-medium text-gray-600 hover:text-black transition-all border-b border-black">About</a>
                    
                    <div class="flex flex-col justify-center items-center gap-1 cursor-pointer md:hidden z-50 absolute right-12 top-12 closebtn w-8 h-8">
                        <div class="w-8 h-[2px] bg-gray-400 rounded-md absolute rotate-45"></div>
                        <div class="w-8 h-[2px] bg-gray-400 rounded-md absolute rotate-[-45deg]"></div>
                    </div>
                </div>


            </nav>
        <!-- MAIN -->
        <section class="overflow-hidden flex justify-center lg:justify-between relative  items-center flex-wrap w-screen p-6 lg:p-12 gap-12 lg:gap-12">
            <div class=" lg:max-w-[50%] mt-24">
                <img src="{% static 'images/smartathonlogo.svg' %}" class="max-w-[300px] lg:max-w-[410px] ml-auto mr-auto lg:ml-0 lg:mr-auto ">
                <p class="font-montserrat mt-4 ">
                    Immerse yourself in a 7+ hour software Hackathon where innovation meets competition. Collaborate with like-minded peers, tackle real-world challenges, and develop cutting-edge solutions.
                </p>
                <a href="#events">
                    <button class="bg-[#FFC657] flex justify-center text-center gap-4 w-full lg:w-auto  py-3 px-8 rounded-md text-base font-montserrat mt-4 font-medium hover:bg-[#e4b046] transition-colors">
                        <img src="{% static 'images/expcta.svg' %}" alt="">
                        Explore Events
                    </button>
                </a>
            </div>

            <div class="flex items-center max-w-[100%] justify-center">
                <img src="{% static 'images/jumbotron.svg' %}" class="max-w-[70%] lg:max-w-[100%] lg:mt-32">
            </div>
            
            <!-- <img src="{% static 'images/plus.svg' %}" class="absolute left-0 bottom-[-50px] w-[30%] -z-10  lg:w-[13.5%]"> -->
            <img src="{% static 'images/jbol.svg' %}" class="absolute -z-10 top-0 hidden lg:block right-0 max-w-[45%]">
        </section>

        <!-- About Section -->

        <section id="about" class="w-full p-6 lg:p-12 flex justify-between items-center flex-wrap-reverse lg:flex-nowrap gap-6">
            <div class="w-[100%] lg:max-w-[50%]">
                <img src="{% static 'images/aboutsec.png' %}" alt="aboutsection">
            </div>
            <div class="w-[100%] lg:max-w-[50%]">
                <p class="font-montserrat font-bold text-2xl mt-4">What is it About?</p>
                <p class="font-montserrat opacity-75 text-sm">Fostering a dynamic community of student researchers committed to driving innovation and positive change through their collaborative, ethical, and impactful research endeavors is the cornerstone of our mission. With an unwavering dedication to excellence, we empower our students to explore the frontiers of knowledge, push boundaries, and create solutions that address the pressing challenges of our time. Together, we strive to cultivate an environment where curiosity thrives, diversity is celebrated, and ideas flourish, inspiring the next generation of leaders and change-makers to make a meaningful difference in the world.</p>

                <a href="https://chat.whatsapp.com/CEOFPw1h0w5EK4ELWGbANd" target="_blank">
                <button type="button" class="bg-[#FFC657] flex gap-2 w-full lg:w-auto justify-center items-center  py-3 px-8 rounded-md text-base font-montserrat mt-6 font-medium hover:bg-[#e4b046] transition-color duration-300">
                    <img src="{% static 'images/whatsapp.svg' %}" alt="" class="w-4 h-4">
                    Join our Whatsapp Community
                </button>
                </a>
            </div>
        </section>

        <!-- Events Section -->

        <section class="w-full gap-6" id="events">
            <p class="font-montserrat text-3xl font-bold text-center mb-6">Events</p>
            <div class="flex flex-col gap-2">
            {% for event in events %}
            <div class="w-full {{event.bgcolor}} p-6 pt-12 lg:p-12 flex gap-12 justify-between items-center text-white relative overflow-hidden flex-wrap">
                <div class="lg:max-w-[50%]">
                    <p class="text-5xl font-bold font-montserrat eventname">{{event.name}}</p>
                    <p class="text-sm opacity-80 mt-4 font-montserrat">{{event.description}}</p>
                    
                    <p class="font-semibold font-montserrat mt-4">Event Details</p>
                    <p class="font-light font-montserrat">Time: {{event.time}}</p>
                    <p class="font-light font-montserrat">Date: {{event.date}}</p>
                    <p class="font-light font-montserrat">Venue: {{event.venue}}</p>
                    <p class="font-light font-montserrat">Max Submissions: {{event.maxsub}}</p>

                    <div class="flex gap-2 flex-wrap lg:flex-nowrap">
                        {% if event.isClosed %}
                        <button class="cursor-not-allowed bg-[#3658D3] flex justify-center text-center gap-2 w-full lg:w-auto  py-3 px-8 rounded-md text-sm font-montserrat mt-4 font-medium hover:bg-[#2c48ae] transition-colors">
                            <img src="{% static 'images/view.svg' %}" alt="">
                            {{event.statustext}}
                        </button>
                        {% else %}
                        <a href="{{event.redirectURI}}" class="w-full">
                        <button class="cursor-pointer bg-[#3658D3] flex justify-center text-center gap-2 w-full py-3 px-8 rounded-md text-sm font-montserrat mt-4 font-medium hover:bg-[#2c48ae] transition-colors">
                            <img src="{% static 'images/view.svg' %}" alt="">
                            {{event.statustext}}
                        </button>
                        </a>
                        {% endif %}

                        {% if event.name == 'Hackathon' %}
                        <a href="/downloadhackathontemplate" class="w-full">
                        <button class="border border-[#3658D3] flex justify-center text-center gap-2 w-full lg:w-auto  py-3 px-8 rounded-md text-xs font-montserrat mt-4 font-medium hover:bg-[#3658D3] transition-colors">
                            <img src="{% static 'images/download.svg' %}" alt="">
                            Download template
                        </button>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="w-full lg:w-auto rounded-t-2xl rounded-b-2xl ">
                    <img src="{% static event.imageurl %}" class="max-w-[60%] ml-auto mr-auto">
                </div>
            </div>
            {% endfor %}    
        </div>
        </section>

        <!-- Footer Section -->
         <section class="w-full flex p-6 lg:p-12 flex-col font-montserrat">
            <p class="text-3xl font-bold font-montserrat text-center">Event Coordinators</p>
            <div class="w-full flex justify-evenly mt-6 flex-wrap gap-x-20 gap-y-6">
                <div class="flex flex-col justify-center items-center">
                    <img src="{% static 'images/prajith.png' %}" alt="">
                    <p class="font-montserrat font-medium">Prajith P</p>
                    <p class="font-montserrat text-sm font-medium">ph: 9344542873</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <img src="{% static 'images/vaishali.png' %}" alt="">
                    <p class="font-montserrat font-medium">Vaishali S</p>
                    <p class="font-montserrat text-sm font-medium">ph: 8072172652</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <img src="{% static 'images/udhay.png' %}" alt="">
                    <p class="font-montserrat font-medium">Uthaya Kumar V</p>
                    <p class="font-montserrat text-sm font-medium">ph: 9043459691</p>
                </div>
            </div>
            <hr class="mt-6">
            <div class="flex flex-col justify-center items-center mt-12">
                <div class="flex items-center justify-center flex-col">
                    <p class="">Organizing commitee</p>
                    <img src="{% static 'images/srclogo.svg' %}" class="w-[200px] h-[200px] mt-6">
                    <p class="font-semibold text-xl">Student Research Council</p>
                    <p class="font-light tracking-widest">To Research, To Innovate</p>
                </div>
                <div class="flex gap-4 mt-6 flex-wrap lg:flex-nowrap justify-center">
                    <a href="https://www.linkedin.com/in/student-research-council-drmcet-3a4b42323/" class="flex gap-2">
                        <img src="{% static 'images/linkedin.svg' %}" class="w-[20px] opacity-60">
                        LinkedIn
                    </a>
                    <a href="mail:srcofficials@drmcet.ac.in" class="flex">
                        <img src="{% static 'images/mail.svg' %}" class="w-[20px]">
                        srcofficials@drmcet.ac.in
                    </a>
                    <a href="https://www.instagram.com/src.offl?igsh=ZThwa3VrbHlxbWFl" class="flex" target="_blank">
                        <img src="{% static 'images/instagram.svg' %}" class="w-[20px]">
                        src.offl
                    </a>
                    <a href="" class="flex">
                        <img src="{% static 'images/location.svg' %}" class="w-[20px]">
                        116 A-Block, MCET
                    </a>
                    <a href="https://chat.whatsapp.com/CEOFPw1h0w5EK4ELWGbANd" class="flex gap-2">
                        <img src="{% static 'images/whatsapp.svg' %}" class="w-[20px] opacity-60">
                        Join our community
                    </a>
                </div>
            </div>
         </section>
         

        <script>    
                const togglebtn = document.querySelector('.togglebtn')
                const closebtn = document.querySelector('.closebtn')
                const mobmenu = document.querySelector('.mobmenu')
                togglebtn.addEventListener('click', ()=>{
                    mobmenu.classList.toggle('active')
                })
                closebtn.addEventListener('click', ()=>{
                    mobmenu.classList.toggle('active')
                })
        </script>
</body>
</html>